include README.md
include LICENSE
include requirements.txt
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.swp
recursive-exclude * .DS_Store
global-exclude data/*